*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;

}
:root{
    --font_h1: 3rem;
    --font_h2:2.8rem;
    --font_p:2.5rem;
    --font_list:1.5rem; 
}
@font-face {
    font-family:modeloUno ;
    src: url(../FONT/modeloUno.ttf);
}
@font-face {
    font-family:modeloDos ;
    src: url(../FONT/modeloDos.otf);
}
h1{
   font-size: var(--font_h1);
}
h2{
    font-size: var(--font_h2);
}
p{
    font-size: var(--font_p);
}
a{
    text-decoration: none;

}
.modeloUno{
    font-family: modeloUno;
}

.modeloDos{
    font-family: modeloDos;
}
loom-shadow{
    display: none;
}
loom-container{
    display: none;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    margin: 0;
}


.e_header{
    width: 100%;
    display: flex;
 
}
.e_header a{
    padding: 3rem 3rem;

}
.e_giro{
    width: 100%;
    height: 15rem;
    border: 1px solid black;
    transform: skewY(5deg);

}
.e_giro_interno{
    transform: skewY(-5deg);
}
.e_main{
    display: flex;
}

.e_footer{
    width: 100%;
    display: flex;
    border: 1px solid black;
    height: 10vh;
    justify-content: center;
    align-items: flex-end;
    
       
}
.contain_list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}
.e_list{
    display: flex;
    justify-content: center;

}
.e_list a{
    font-size: var(--font_list);
   
}
/**SECCIONES DE TEATRO ESCENOGRAFIA E ILUMINACION**/

.e_main_sec{
    margin-top: 2rem;
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}
.contain_grid{
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr;
     row-gap: 2rem;
    column-gap: 2rem;
}
.itemsec{
    height: 20vh;
    border: 1px solid black;
}


/**index**/


.e_header_index{
    height: 15rem;
    justify-content: end;
    padding: 1.5rem;
}
.e_main_index{
    width: 100%;
    flex-direction: column;
}
.itemIndex{
    width: 100%;
    height: 12vh;
    padding: 1.5rem 3rem;
}
.item4Index{
    height: 15vh;
}
.e_footer_index{
    height: 15vh;
    justify-content: center;
    align-items: flex-end;

}

/**DISEÑO**/

.e_header_diseño{
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}
.e_main_sec_diseño{
    margin: 0 auto;
    width: 90%;

    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    margin-bottom: 2rem;
}

.itemsec_diseño{
    border: 1px solid black;
    height: 20vh;
}
.e_footer_diseño{
    height: 15vh;
}

/**contacto*/


.e_header_contac{
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.e_header_contac a{
    display: block;
    text-decoration: none;
    font-size: 5rem;
    font-weight: 600;
    margin-top: 1rem;
    color: black;

}

.e_form{
    width: 100%;
    height: 55rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.e_form legend{
  font-size: 2.5rem;
  color: black;
}
.e_form button{
    margin-left: 2rem;
    width: 30%;
    font-size: 2.5rem;
    color: black;
    border-radius: 1rem;
}
.e_form label,input{
    margin-left: 2rem;
    width: 70%;
    font-size: 2.5rem;
    color: black;

}

.e_fieldset{
    width: 80%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 2rem;
}
.whatsapp{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.whatsapp p{
    font-size: 2.5rem;
    color: black;
    margin-bottom: 2rem;

}
.whatsapp a{
    width: 5rem;
    height: 5rem;
    background-image: url(../img/whatsapp.png);
    background-position: center;
    background-size: contain;
    color: black;
}


@media (min-width:700px) and (max-width:1024px) {
    :root{
        --font_h1: 4.5rem;
        --font_h2:4rem;
        --font_p:4rem;
    }
    /**index**/
    .e_header_index{
        padding: 3rem 7rem;
    }
    .itemIndex{
        padding: 3rem 7rem;
    }
    

}

@media (min-width:1025px){
    :root{
        --font_h1: 5.5rem;
        --font_h2:4rem;
        --font_p:4rem;
        --font_list:2.8rem;
    }

    .e_giro{
        height: 100%;
        transform: none;
        transform: skewX(-5deg);
    }
    .e_giro_interno{
        transform: none;
        transform: skewX(5deg);
    }
    .contain_list{
      
        display: flex;
        justify-content: space-around;
        flex-direction: row   
    }
    .e_list{
        display: inline-block;
        z-index: 10;
      
    }
    /**SECCIONES DE TEATRO ESCENOGRAFIA E ILUMINACION**/
    .e_giro{

        height: 100%;
        transform: none;
        transform: skewX(-5deg);
    }
    
    .e_giro_interno{
        transform: none;
        transform: skewX(5deg);
    }
    .body_sec{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    }
    .e_header_sec{
        margin: 0;
        width: 30rem;
        height: 100vh;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .contain_main_footer{
        display: flex;
        height: 100vh;
        width: 90%;
        min-width: 90rem;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    
    }
    .e_main_sec{
        width: 100%;
        height: 80vh;
        display:flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
    .contain_grid{
        display: grid;     
        border: 1px solid black;
        grid-template-columns: 1fr;
        row-gap: 2rem;
        column-gap: 2rem;
    }
    .e_footer_sec{
   
        justify-content: flex-end;

        padding: 0  5rem 2rem;
    }
    /**clases para modificar el left de escenografia teatro e iluminacion**/
    .teatro{
           
        left: 60rem;
        
    }
    .escenografia{
        left: 30rem;

    }
    .iluminacion{
        left: 90rem;
    }
   
    /**INDEX**/
    body{
        position: relative;
        max-height: 100vh;
    }
    .e_header_index{
        padding: 0;
        height: 20vh;
        justify-content: center;
        align-items: center;
    }
    .e_main_index{
        flex-direction: row;
       
        height: 80vh;
        
    }
    .e_footer_index{
       position: absolute;
       bottom: 5rem;
     
    }
    .itemIndex{
        height: 100%;
        width: 24.5%;
        margin: 0;
        padding-top: 10rem;
                  
    }
    .itemIndex a{
        width: 100%;
        text-align: center;
    }
       
    /**diseño**/
    .e_giro{

        height: 100%;
        transform: none;
        transform: skewX(-5deg);
    }
    
    .e_giro_interno{
        transform: none;
        transform: skewX(5deg);
    }
    .body_diseño{
        width: 100%;
        position: static;
        display: flex;
        flex-direction: row;
    }
    .e_header_diseño{
        margin: 0;
        width: 30rem;
        height: 100vh;
    }
    .contain_main_footer_diseño{
        display: flex;
        width: 80%;
        height: 100vh;
        min-width: 90rem;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
  
    }
    .e_main_sec_diseño{
        width: 90%;
    }
    .e_footer_diseño{
        justify-content: flex-end;
        padding: 2rem 5rem ;
    }
}